.app-container {
  background-color: white;
  width: 70%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  width: 96%;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
}

.activity-bar {
  display: flex;
  width: 95%;
  justify-content: space-between;
  height: 20%;
}

.chart-container {
  display: flex;
  width: 96%;
  margin: 3px;
  flex-direction: row;
}
